#topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

#nav button {
  flex: 1;
  padding: 10px;
}

#nav .main {
  background: #2ea6ff;
  color: white;
  font-size: 16px;
}
